<% include header %>

<!--    PAGE HEADER START-->
<% include page-header %>
<!--    PAGE HEADER ENDS -->

<!--    PAGE BODY STARTS -->
<div class="page-body-wrapper sidebar-icon">
    <% include main-nav %>
</div>
<!--     PAGE BODY ENDS -->



<% include footer %>'