<% include header %>

<!--    PAGE HEADER START-->
<% include page-header %>
<!--    PAGE HEADER ENDS -->

<!--    PAGE BODY STARTS -->
<div class="page-body-wrapper sidebar-icon">
    <% include main-nav %>

    <!-- Page Sidebar Ends-->
    <div class="page-body">
        <div class="container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Bootstrap Styling Tables</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                            <li class="breadcrumb-item">Tables</li>
                            <li class="breadcrumb-item">Bootstrap Tables</li>
                            <li class="breadcrumb-item active">Styling Tables</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">


                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Salon Services</h5>

                        </div>
                        <div class="card-block row">
                            <div class="col-sm-12 col-lg-12 col-xl-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="bg-primary">
                                        <tr>
                                            <th scope="col">No</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Salon</th>
                                            <th scope="col">Action</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo
                                            </td>
                                            <td>
                                                <a class="btn  btn-outline-primary"> Edit </a>
                                                <a class="btn  btn-outline-secondary"> Delete </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>
</div>
<!--     PAGE BODY ENDS -->

<% include footer %>